# Dev/IDE
.vscode/

# Cache e perfis de navegador
.google-chrome-config/
.pytest_cache/

# Arquivos locais
last_credentials_update.txt

# .toml, txt e outros arquivos de configuração local
config.toml
local_settings.txt
settings.local

# Relatórios e logs
report.html
debug.log
poem.lock
pyproj.toml

force_reload.txt
pyproject.toml
poetry.lock
